<div class="card-car">

    <div class="img">
        <img src="{{img}}" alt="">
    </div>

    <div class="info">
        <div class="title">
            <div>
                <p>{{nombre}}</p>
            </div>
            <div>
                <p style="color: rgb(207, 44, 44)">${{precio |number}}</p>
            </div>
            <div>
                <p style="color: rgb(146, 146, 146);;text-decoration: line-through">${{345000 |number}}</p>
            </div>

        </div>
        <div>
            <p>{{"tamaño"|translate}}: US 11.5</p>
            <p><strong>{{"ultimas.unidades"|translate}}</strong></p>
            <button class="boton" (click)="delete(id)">{{"quitar"|translate}}</button>
        </div>
    </div>
</div>