<div class="card">
    <div class="image">
        <img src="{{ img }} " altt=" " />
    </div>
    <div class="car">
        <img class="carrito" (click)="addCar()" src="{{ car }} " alt=" " />
    </div>
    <div class="price">
        <p style="color: rgb(207, 44, 44)">${{ precio | number }}</p>
        <p style="color: rgb(146, 146, 146); text-decoration: line-through">
            ${{ generataRandom(200000, 345000) | number }}
        </p>
    </div>

    <div class="info">
        <p>{{ nombre }}</p>
        <hr />
        <p>{{ "proveedor" | translate }}</p>
    </div>

    <button class="buy" (click)="buy(id)">{{ "comprar" | translate }}</button>
</div>