<div class="container flex">
    <div class="img">
        <img src={{prodcut.img}} alt="">
    </div>
    <div class="info">
        <h1>{{prodcut.nombre}}</h1>
        <p> Cloud White / Core White / Green </p>

        <h2> <strong>${{prodcut.precio | number}}</strong> </h2>
        <br>
        <div class="flex tallas">

            <div class="item">US 8.5</div>
            <div class="item">US 9.5</div>
            <div class="item">US 10.5</div>
            <div class="item">US 11.5</div>

        </div>
        <br>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere ullam inventore similique reprehenderit? Saepe dolores natus nemo repudiandae accusantium. Dignissimos, quia perspiciatis dolor atque optio sint odio soluta eligendi aliquam.</p>

        <button class="car" (click)="addProduct(prodcut)">{{texto| translate}}</button>

        <button class="buy"> {{"comprar"| translate}}</button>

    </div>
</div>