<div class="container flex">
    <div class="img">
        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/1a3204b040554d219600ac9200bb9018_9366/Tenis_U_Path_Run_Negro_FY5688_01_standard.jpg" alt="">
    </div>
    <div class="info">
        <h1>TENIS STAN SMITH</h1>
        <p> Cloud White / Core White / Green </p>

        <h3>Price {{169000|number}}</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere ullam inventore similique reprehenderit? Saepe dolores natus nemo repudiandae accusantium. Dignissimos, quia perspiciatis dolor atque optio sint odio soluta eligendi aliquam.</p>

        <button class="car">Enviar al carrito</button>

        <button class="buy"> Comprar</button>

    </div>
</div>