        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            cursor: pointer;
            background-color: rgb(122, 120, 120);
            color: #333;
        }
        
        button {
            transform: translate(-5px, 5px);
        }
        
        .active {
            background-color: #8a8a8a;
        }
        
        .container {
            display: flex;
            justify-content: center;
        }
        
        .parent {
            display: grid;
            grid-auto-flow: dense;
            align-content: center;
            align-items: center;
            height: 100%;
            grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
            grid-column-gap: 5px;
            grid-row-gap: 10px;
        }
        
        .hamburger {
            display: none;
        }
        
        .car {
            position: relative;
        }
        
        .count {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0px;
            padding: 4px;
            left: 150px;
            border-radius: 50%;
            background-color: red;
            font-size: 10px;
        }