.sep {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

button {
    padding: 15px 25px 15px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.car {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.recibo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resume {
    border: 1px solid black;
    padding: 20px 10px;
}

.texto {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .sep {
        order: 5;
    }
    .recibo {
        order: 1;
        padding-bottom: 20px;
    }
}